/*========= レイアウトのためのCSS ===============*/

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p {
  margin-top: 20px;
}

small {
  background: #333;
  color: #fff;
  display: block;
  text-align: center;
  padding: 20px;
}

#header {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  padding: 100px 30px;
}

section:nth-child(2n) {
  background: #000;
}

#footer {
  position: relative;
  z-index: 2;
}

body{
  //background: #555;
}
/* ボタン共通設定 */
/*========= ページトップのためのCSS ===============*/

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 5;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
  a {
    position: relative;
    display: block;
    background: url("../img/pagetop_1.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    width: 80px;
    height: 90px;
    color: #eee;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.6rem;
    span {
      display: block;
      position: absolute;
      bottom: -22px;
      left: 25%;
      transition: opacity .3s;
      opacity: 1;
    }
    &.floatAnime {
      background: url("../img/pagetop_2.png");
      background-repeat: no-repeat;
      background-position: top center;
      background-size: contain;
      span{
        opacity: 0;
      }
    }
  }
}

.UpMove {
  animation: up_motion 0.5s forwards;
  /*
  animation: up_motion 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  */
}
@keyframes up_motion {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.DownMove {
  animation: down_motion 0.5s forwards;
  /*
  animation: down_motion 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  */
}
@keyframes down_motion {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}
