
input,
button,
textarea,
select {
  appearance: none;
}

body {
  padding: 2rem;
  background: #555;
}
h2 {
  margin: 2rem 0 2rem 0;
}
.header {
  h1 {
    font-size: 36px;
  }
}
main{
  p{
    margin: 30px auto;
    text-align: center;
  }
}

/*== ボタン共通設定 */

$btnColor: #eee;
$btnBg: #222;
$btnBg2: rgba(250, 250, 250, 0.5);
$btnBorder: #555;

/*== 上に移動し影がついて浮き上がる */

/*ボタンの形状*/
.float3{
    position:relative;
    top:0;
    padding:10px 20px;
    display: inline-block;
    border: 1px solid $btnBorder;
    color: $btnColor;
    background: $btnBg;
    text-decoration: none;
    outline: none;
    /*アニメーションの設定*/
    transition: all .3s;
}

/*hoverをしたらボックスに影がつき、上に上がる*/
.float3:hover {
    top:-3px;
    box-shadow: 0 2px 3px $btnBg2;
}
