
input,
button,
textarea,
select {
  appearance: none;
}

body {
  padding: 2rem;
}
h2 {
  margin: 2rem 0 2rem 0;
}
.header {
  h1 {
    font-size: 36px;
  }
}
/*==================================================
共通　横並びのための設定
===================================*/

$btnColor: #eee;
$btnAcColor: #ee4;
$btnBg: #aaaa44;

.gnavi{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  a{
    position: relative;
    padding: 0.5em 2em;
    color: $btnColor;
    span{
      display: block;

      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      transition: all .5s;
      &:nth-child(1){
        transform: translate( 0, 0%);
        opacity: 1;
      }
      &:nth-child(2){
        transform: translate( 0, -200%);
        opacity: 0;
      }
    }
    &:hover{
      span{
        &:nth-child(1){
          transform: translate( 0, -100%);
          opacity: 0;
        }
        &:nth-child(2){
          transform: translate( 0, -100%);
          opacity: 1;
        }
      }
    }
  }
}

