@charset "utf-8";

// Sassのmin()関数
@function _min($numbers...) {
  @return min($numbers...);
}
// CSSのmin()関数
@function min($values...) {
  @return unquote("min(#{$values})");
}

// Sassのmax()関数
@function _max($numbers...) {
  @return max($numbers...);
}
// CSSのmax()関数
@function max($values...) {
  @return unquote("max(#{$values})");
}

//縦横中央揃え

@mixin ce() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin ce1() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//designカンプで基準となる横幅。
$viewportPC: 1366;
$viewportSP: 375;

@function pxtvw($px, $width: $viewportSP) {
  @return (1vw * $px / $width * 100);
}

@function pxtvw2($px, $width: $viewportPC) {
  @return (1vw * $px / $width * 100);
}

// font-size: pxtvw( 500 );

// 行送り / fotsize = line-height
@function lhgt($px, $base_fontSize: 16) {
  @return (1 * calc($px / $base_fontSize));
}

// XDのAV値を元に「letter spacing」値を出す。
@function lspc($av) {
  @return (1em * calc($av / 1000));
}

//@import "./_ress.scss";
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/

/* 基本 */
/*
:root {
  --v-space: clamp(90px, 9vw, 120px);
}
*/

html {
  //text-rendering: optimizeLegibility; SVG用の設定。
}

$bgColor: #111;
$fontColor: #eee;

body {
  /*
    -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
    */

  // font-smooth は CSS のプロパティで、フォントが描画されるときのアンチエイリアスの適用を制御します。
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  //スマホを横にしたときに文字が大きくないようにする
  //-webkit-text-size-adjust: 100%;

  /*
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    */

  background: $bgColor;
  font-family: sans-serif;
  color: $fontColor;
  //line-height: 1.62;
  margin: 0;
  padding: 0;

  //bottom: calc(env(safe-area-inset-bottom) + 5%);
}
p {
  line-height: 1.8;
}
a {
  //overflow: hidden;
  //outline: none;
  //color: $fontColor;
  color: inherit;
  text-decoration: none;
  //cursor: crosshair;
  //-webkit-tap-highlight-color: transparent;
}
/*
@media (hover: hover){
    
}
*/
@media (pointer: fine) {
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}
/*IE11用ハック*/
/*
_:-ms-lang(x)::-ms-backdrop, a:link{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:visited{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:hover{
    text-decoration: underline;
}
_:-ms-lang(x)::-ms-backdrop, a:active{
    text-decoration: underline;
}
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
@import "./_parts.scss";
