/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */

/*
1.  すべての要素で「box-sizing: border-box; 」を適用します。
2.  すべての要素のパディングとマージンをリセットします。
3.  「background-repeat:no-repeat」をすべての要素と擬似要素に指定します。
4.  「text-decoration」と「vertical-align」を:: beforeと:: afterに継承します。
5.  すべてのブラウザでホバーするときにアウトラインを削除します。
6.  code要素にfont-family：monospaceを指定します。
7.  input要素の「border-radius」をリセットします。
8.  form要素のフォント継承を指定します。
9.  すべてのブラウザでデフォルトのボタンスタイルを削除します。
10. textareaのサイズ変更可能性を垂直に指定します。
11. ボタン要素にcursor:pointerを適用します。
12. tab-size:4をhtml形式で適用します。
13. 標準入力のようにスタイルを選択します。
14. aria属性でカーソルのスタイルを設定します。 
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; /*  iOSで方向を変更した後にフォントサイズを調整できないようにする */
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat; /* 「background-repeat:no-repeat」 を全ての要素と擬似要素に設定します。 */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit; /* 「text-decoration」と「vertical align」を継承し、::beforeと::afterの擬似要素に位置合わせします。 */
  vertical-align: inherit;
}

* {
  padding: 0; /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */

hr {
  overflow: visible; /*  EdgeとIEにオーバーフローを表示する */
  height: 0; /* Firefoxで正しい「box sizing」を追加する　*/
  color: inherit; /* Firefoxでborderの色を修正します。 */
}

details,
main {
  display: block; /* IEで`main`要素を一貫して描画する */
}

summary {
  display: list-item; /*  すべてのブラウザに正しい表示を追加する */
}

small {
  font-size: 80%; /* `small`要素のfont-sizeを80%に設定します。*/
}

[hidden] {
  display: none; /* IEに正しい表示を追加する */
}

abbr[title] {
  border-bottom: none; /* Chrome 57で下罫線を削除する */
  /* Chrome、Edge、IE、Opera、およびSafariで正しいテキスト装飾を追加する */
  text-decoration: underline;
  text-decoration: underline dotted;
}

a {
  background-color: transparent; /* IE 10でアクティブなリンクの灰色の背景を削除します。 */
}

a:active,
a:hover {
  outline-width: 0; /* すべてのブラウザでマウス移動したときにアウトラインを削除する */
}

code,
kbd,
pre,
samp {
  font-family: monospace; /* code要素のフォントファミリを指定する */
}

pre {
  font-size: 1em; /* すべてのブラウザで奇数の`em`フォントサイズを修正する */
}

b,
strong {
  font-weight: bolder; /* Chrome、Edge、Safariで適切なfont-weightを追加する */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit; /* すべてのChrome、Edge、およびSafariで境界線の色を修正します。 */
  text-indent: 0; /* Chrome、Edge、Safariでのテキストインデントの削除 */
}

/* # =================================================================
   # Forms
   # ================================================================= */

input {
  border-radius: 0;
}

/* 無効な要素のポインタカーソルを置換 */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; /* Chromeの増減ボタンのカーソルスタイルを修正する */
}

[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield; /* 「Chrome」と「Safari」で表示される違和感を修正する */
  outline-offset: -2px; /* Safariでアウトラインスタイルを修正する */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; /* macOSのChromeおよびSafariで「inner paddin」を削除する */
}

textarea {
  overflow: auto; /* Internet Explorer 11以上 */
  resize: vertical; /* textarea のサイズ変更可能性を指定する */
}

/* 標準のinput要素のようにスタイル選択*/
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
  appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* form要素のフォント継承を指定する*/
}

optgroup {
  font-weight: bold; /* 前のルールで設定されていないフォントの太さを復元する */
}

button {
  overflow: visible; /* IE8/9/10/11でAddress `overflow`が` hidden`に設定されました */
}

button,
select {
  text-transform: none; /* Firefox 40以降、Internet Explorer11- */
}

/* ボタン要素にカーソルポインタを適用します */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Firefox 4+で内側のパディングとボーダーを削除する */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button,
html [type='button'], /* Android 4のネイティブ`audio'および`video'コントロールを (2) 破棄するWebKitバグを防ぐ*/
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  appearance: button; /* iOSでクリック可能な型をスタイル設定できない問題を修正する */
}

/* すべてのブラウザで既定のボタンスタイルを削除する */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* 上の枠線リセットで削除されたフォーカススタイルを置換 */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  border: 0; /* IE8/9/10/11で継承されない正しい 「色」 */
  color: inherit; /* IEの`fieldset`要素からの色の継承を修正します。 */
  display: table; /* EdgeとIEでテキストの折り返しを修正する */
  max-width: 100%; /* EdgeとIEでテキストの折り返しを修正する */
  white-space: normal; /* EdgeとIEでテキストの折り返しを修正する */
}

::-webkit-file-upload-button {
  /* iOSおよびSafariでクリック可能なタイプをスタイル設定できない問題を修正する */
  -webkit-appearance: button;
  color: inherit;
  font: inherit; /* ChromeとSafariでフォントプロパティを 「継承」 に変更する */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */

img {
  border-style: none; /* IE 8/9/10で 「a」 要素内の境界を削除 */
}

/* Chrome、Firefox、およびOperaで正しい垂直方向の配置を追加する */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */

/* 要素更新の進行状況カーソルを指定してください */
[aria-busy='true'] {
  cursor: progress;
}

/* トリガ要素のポインタカーソルを指定してください */
[aria-controls] {
  cursor: pointer;
}

/* 無効、編集不可、またはその他の操作不能な要素のスタイルなしカーソルを指定してください*/
[aria-disabled='true'] {
  cursor: default;
}
