.nav {
  --btn-color: #eee;
}
.nav_dot {
  /*
  width: 300px;
    max-width: 500px;
  */

  width: 120px;
  margin: 0 auto 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  /*

  overflow-y: hidden;
  overflow-x: auto;
  */
  overflow: hidden;

  button {
    &.dot_active {
      &::after {
        background: #333;
      }
    }
    background: #000;
    width: 50px;
    height: 50px;
    margin: 0 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: var(--btn-color);
    }
  }
}
