.nav_dot {
  width: 100%;
  max-width: 500px;
  margin: 20px auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  button {
    min-height: 30px;
    padding: 10px 20px;
    background: #552;
  }
}
