.nav_dot {
  width: 100px;
  margin: 20px auto 20px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  overflow-y: hidden;
  overflow-x: auto;
  button {
    &.active {
      &::after {
        background: #333;
      }
    }
    background: #000;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      background: #888;
    }
  }
}
