@charset "UTF-8";
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/
/* 基本 */
/*
:root {
  --v-space: clamp(90px, 9vw, 120px);
}
*/
body {
  margin: 0;
  padding: 0;
  /*
    -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
    */
  /*
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    */
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/*
@media (hover: hover){

}
*/
/*IE11用ハック*/
/*
_:-ms-lang(x)::-ms-backdrop, a:link{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:visited{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:hover{
    text-decoration: underline;
}
_:-ms-lang(x)::-ms-backdrop, a:active{
    text-decoration: underline;
}
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*========= バー表示のためのCSS ===============*/
.scrollgress {
  z-index: 3;
  /*他のposition指定しているエリアより前に出すためz-indexの数字を大きく*/
  top: 70px !important;
  /* fixedで設置しているheaderの高さよりも下にバーを出す*/
}

/*========= レイアウトのためのCSS ===============*/
h1 {
  font-size: 1.2rem;
}

#container h2 {
  font-size: 1.2rem;
}

#container p {
  margin-top: 20px;
}

small {
  display: block;
  padding: 20px;
  background: #333;
  color: #fff;
  text-align: center;
}

#header {
  display: flex;
  /*高さ指定*/
  z-index: 2;
  position: fixed;
  /*Header固定*/
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  /*装飾のためのCSS*/
  background: #333;
  color: #fff;
  text-align: center;
}

#container {
  position: relative;
}

section {
  padding: 100px 30px;
  background: #222;
}

section:nth-of-type(2n) {
  min-height: auto;
  padding: 300px 30px;
  color: #fff;
  text-align: center;
}

section:nth-of-type(2) {
  background: url("../img/01.jpg") no-repeat center;
  background-size: cover;
}

section:nth-of-type(4) {
  background: url("../img/02.jpg") no-repeat center;
  background-size: cover;
}

#footer {
  z-index: 2;
  position: relative;
}

/*＝＝＝＝＝＝＝＝＝＝＝タブレット以下の見え方＝＝＝＝＝＝＝＝＝＝＝＝＝*/

@media (pointer: fine) {
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}

@media screen and (max-width: 768px) {
  section {
    padding: 30px;
  }
}