@charset "UTF-8";
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/
/* 基本 */
/*
:root {
  --v-space: clamp(90px, 9vw, 120px);
}
*/
body {
  margin: 0;
  padding: 0;
  /*
    -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
    */
  /*
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    */
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/*
@media (hover: hover){

}
*/
/*IE11用ハック*/
/*
_:-ms-lang(x)::-ms-backdrop, a:link{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:visited{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:hover{
    text-decoration: underline;
}
_:-ms-lang(x)::-ms-backdrop, a:active{
    text-decoration: underline;
}
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* ボタン共通設定 */
/*========= 検索窓を開くためのボタン設定 ===========*/
button {
  -webkit-appearance: none;
          appearance: none;
}

.open-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: #222 url("../img/icon_search.svg") no-repeat 15px center;
  /*虫眼鏡アイコンを背景に表示*/
  background-size: 20px 20px;
  cursor: pointer;
  /*カーソルを指マークに*/
  /*クリック後、JSでボタンに btnactive クラスが付与された後の見た目*/
}
.open-btn.btnactive {
  background: url("../img/icon_close.svg") no-repeat 15px center;
  /*閉じるアイコンを背景に表示*/
  background-size: 18px 18px;
}

/*========= 検索窓の設定 ===============*/
/*==検索窓背景のエリア*/
#search-wrap {
  z-index: -1;
  position: absolute;
  /*絶対配置にして*/
  top: 150px;
  right: 20px;
  /*透過を0に*/
  width: 0;
  /*transitionを使ってスムースに現れる*/
  border-radius: 5px;
  /*最背面に設定*/
  opacity: 0;
  /*横幅は0に*/
  transition: all 0.4s;
  /*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後の見た目*/
}
#search-wrap.panelactive {
  /*不透明に変更*/
  z-index: 3;
  top: 60px;
  /*全面に出現*/
  width: 280px;
  padding: 20px;
  background: #333;
  opacity: 1;
}

/*==検索窓*/
#search-wrap #searchform {
  display: none;
  /*検索窓は、はじめ非表示*/
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後*/
#search-wrap.panelactive #searchform {
  display: block;
  /*検索窓を表示*/
}

/*==検索フォームの設定*/
/*==テキスト入力とボタンinput共通設定*/
#search-wrap input {
  -webkit-appearance: none;
  /*SafariやChromeのデフォルトの設定を無効*/
  outline: none;
  /*カーソルを指マークに*/
  color: #eee;
  cursor: pointer;
}

/*テキスト入力input設定*/
#search-wrap input[type=text] {
  width: 100%;
  height: 46px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #555;
  background: #111;
  letter-spacing: 0.05em;
  transition: all 0.5s;
}

/*テキスト入力inputにフォーカスされたら*/
#search-wrap input[type=text]:focus {
  background: #111;
  /*背景色を付ける*/
}

#search-wrap input[type=text]:valid {
  background: #111;
}

#search-wrap input[type=text]:invalid {
  background: #e33;
}

/*ボタンinput設定*/
#search-wrap input[type=submit] {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 30px;
  height: 60px;
  background: url("../img/icon_search.svg") no-repeat right;
  /*虫眼鏡アイコンを背景に表示*/
  background-size: 20px 20px;
}
@media (pointer: fine) {
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}