@charset "UTF-8";
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/
/* 基本 */
/*
:root {
  --v-space: clamp(90px, 9vw, 120px);
}
*/
body {
  margin: 0;
  padding: 0;
  /*
    -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
    */
  /*
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    */
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/*
@media (hover: hover){

}
*/
/*IE11用ハック*/
/*
_:-ms-lang(x)::-ms-backdrop, a:link{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:visited{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:hover{
    text-decoration: underline;
}
_:-ms-lang(x)::-ms-backdrop, a:active{
    text-decoration: underline;
}
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  background: #111;
  color: #eee;
}

/*========= レイアウトのためのCSS ===============*/
.hide_area {
  padding: 100px 20px;
  background: #222;
}

/*========= クリックしたら別のものが動く際の指定 ===============*/
/*----ボタンの形状----*/
.btn {
  padding: 10px 30px;
  background: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

/*非表示エリアをはじめは隠す*/
.hide_area {
  display: none;
}

/*クリックされたら fadeUpクラスを付与し、display:block;で表示させる*/
.hide_area.fadeUp {
  display: block;
}

/* ボタンがクリックされた後にボタン自体が非表示になる　*/
.btn.disp_none {
  display: none;
}

/*==================================================
ふわっ
===================================*/
/* fadeUp */
.fadeUp {
  animation: fadeUpAnime 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  0% {
    transform: translate(0, 100px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media (pointer: fine) {
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}