@charset "UTF-8";
/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
*/
/* 基本 */
/*
:root {
  --v-space: clamp(90px, 9vw, 120px);
}
*/
body {
  margin: 0;
  padding: 0;
  /*
    -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
    */
  /*
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
    */
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

p {
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/*
@media (hover: hover){

}
*/
/*IE11用ハック*/
/*
_:-ms-lang(x)::-ms-backdrop, a:link{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:visited{
    text-decoration: none;
}
_:-ms-lang(x)::-ms-backdrop, a:hover{
    text-decoration: underline;
}
_:-ms-lang(x)::-ms-backdrop, a:active{
    text-decoration: underline;
}
*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* --------------------------------------------------------------------------------
ドロップダウンメニューのレイアウト
--------------------------------------------------------------------------------*/
/*========= 上部固定させるためのCSS ===============*/
.header {
  /*横幅指定*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  align-items: center;
  /*高さ指定*/
  width: 100%;
  height: 70px;
  padding: 20px;
  background: #333;
  color: #fff;
}
.header__gmenu {
  width: 90%;
  margin: 0 auto;
}
.header__gmenu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header__gmenu ul a {
  padding: 20px 25px;
}

/*
.scroll-point{
    position: absolute;
    z-index: 10;
    top: 200px;
    left: 0;
    width: 100px;
    height: 100px;
    background: #444;
}
*/
/*JSを使いfixedクラスが付与された際の設定*/
.fixed {
  /*fixedを設定して固定*/
  z-index: 999;
  position: fixed;
  /*最前面へ*/
  top: 0;
  /*位置指定*/
  left: 0;
  /*位置指定*/
}
@media (pointer: fine) {
  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }
}