.pagination_wrapper {
  display: grid;
  grid-template-rows: max-content auto;
  height: 100vh;
}
.lists {
  display: grid;
  grid-template-columns: auto;

  section {
    min-height: 2em;
  }
}
