.pagination_wrapper {
  display: grid;
  //grid-template-rows: max-content auto 40px;
  grid-template-rows: -webkit-max-content auto -webkit-max-content;
  grid-template-rows: max-content auto max-content;
  height: 100vh;
}
.lists,
#measurement {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  */

  display: flex;
  flex-direction: column;

  section {
    min-height: 4em;
  }
}
.lists {
  margin-bottom: auto;
}
#measurement {
  visibility: hidden;
  display: none;
}
.page_number {
  margin: 10px 0 10px 0;
  text-align: center;
}
